.container{
    text-align: center;
}

.person_list_table{
    width: 100%;
    text-align: left;
    padding: 50px;
    thead {
        border: 1px solid #e1e7fb;
        background-color: #f9faff;
    }
    tbody {
        background-color: #fff;
    }
    td,
    th {
        padding: 12px 15px;
        border: 1px solid #f1f3fc;
    }
}